/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fb;
    margin: 0;
    padding: 0;
}

/* Barra superior com fundo roxo */
.bg-purple {
    background-color: #6a1b9a;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1050;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Título Medicina com fonte melhorada */
h5 {
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 1.8rem;
    flex-grow: 1;
    text-align: center;
}

/* Conteúdo principal */
.container {
    margin-top: 120px;
    padding-top: 100px;
}

/* Seções */
.intro-section, .upload-section, .tipos-de-horas {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botão Enviar */
.btn-custom {
    background-color: #fff;
    color: #6a1b9a;
    border: 2px solid #6a1b9a;
    font-size: 1rem;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #6a1b9a;
    color: #fff;
}

/* Para colunas responsivas */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }
}
